body {
    background-color: #212121;
    margin: 0;
    min-height:100%;
    color: white; 
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
#Header_Div {
    font-size: 15px;
    position: absolute;
    top: 0%;
    width: 94%;
    height: 7%;
    margin-left: 3%;
    margin-right: 3%;
    /* background-color: blue;*/
}

    #Header_Div p {
        display:inline-block;
        margin:auto,auto; float:right; 
    }

    #Header_Div img {
        display: inline-block;
        /*  width: 40px;
        height: 40px;*/
        /*  width: 3%;*/
        /*  height: 100%;*/
        height: 300%;
        object-fit: contain;
        margin-left: 3%;
        border : 3px solid #212121;
        border-top: 0;
        /*  z-index: 2;*/
    }

#Home_Div {
    text-align: center;  
}

#About_Div {
    text-align: justify; 
    display: none; 
}
#Contact_Div {
    display: none; 
}

#Projects_Div {
    display: none; 
}

.PresentationDiv {
    position: absolute;
    bottom: 5%;
    /* width: 98%;*/
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 88%;
    z-index: -1;
    text-align: center;
    background-color: darkslateblue;
}

#Footer_Div {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%; 
    overflow: hidden;
    font-size: 9px; 
   /* background-color: blue;*/
}

.ContentDiv {
    margin: 15%;
    margin-bottom: 15%;
    height: 68%; 
}

.FancyText1 {
    color: whitesmoke;
    width: 100%;
    font-size: xx-large;
    position: relative;
} 
.FancyText2 {
    color: whitesmoke;
    width: 100%;
    font-size: x-large;
}

.FancyText3 {
    color: whitesmoke;
    width: 100%;
    font-size: large; 
}

.hidden{
    display:none;
}

#MoveText b {
    color: orangered;
}

#first {
    visibility: hidden; 
}

#second {
    visibility: hidden; 
}

#Header_Div button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; 
    font-family: "Poppins", sans-serif;
}

#Home_btn 
{
    color:gray;
}

.NavBtn {
    color: white;
}

#Contact_Div a {
    color: white;
    text-decoration: none;
    display:inline-block;
    font-size:xx-large;
    padding:2%;
}

#Patterns_Div 
{
    background-color:transparent;
}


 

 

